nav {
  position: fixed;
  z-index: 10;
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: #f5f5f5;
    background-color: #1B262C; 
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 40px; 
    height: auto;
    border-radius: 20px;
    margin-right: 10px; 
  }
  
  .hamburger {
    display: none; 
    font-size: 24px;
    cursor: pointer;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .nav-links li {
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .nav-links li:hover {
    color: #007bff;
  }
  
  
  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }
  
    .nav-links {
      flex-direction: column;
      position: fixed;
      top: 0;
      right: -250px; 
      width: 200px;
      height: 100vh;
      background-color: #212529;
      padding: 60px 20px;
      transition: right 0.3s ease-in-out; 
      gap: 20px;
    }
  
    .nav-links.active {
      right: 0; 
    }
  }
  